* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --principal: #13678a;
  --background: #eee;
  --padrao: #ffffff;
  --alternativa1: #f2cb05;
  --alternativa2: #f23030;
  --alternativa3: #04d939;
  --alternativa4: rgba(54, 48, 48, 0.24);
  --alternativa5: #13668a70; 
}
.box-header {
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: 35px;
  padding: 20px;
  background-color: var(--principal);
  color: var(--padrao);
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 1px;
}

.box-information {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  margin-bottom: 30px;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  margin: 10px auto;
  padding: 20px;
  box-shadow: 2px 2px 10px var(--shadow-color);
  gap: 20px;
  opacity: 1;
  transition: all 0.5s;
}

.box-table {
  border: 1px solid var(--alternativa4);
  width: 100%;
  user-select: none;
  text-align: center;
  cursor: pointer;
}

.box-table th,
td {
  border: none;
  border-radius: 2px;
  border-collapse: collapse;
  padding: 5px 2px;
}

.box-table th {
  height: 40px;
  background-color: var(--principal);
  color: var(--padrao);
  font-size: 16px;
  font-weight: 400;
}

.box-table tbody tr{
  background-color: var(--alternativa4);
  height: 40px;
  font-size: 14px;
}

.box-table tr:hover {
  background-color: var(--alternativa5);
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-weight: 200;
  font-style: italic;
  padding: 10px;
}
